@{
    Usuario user = Context.Session.GetObject<Usuario>("USUARIO");

    string controllerNewTeam = "Equipos";
    string actionNewTeam = "CrearEquipo";
}

@section CSSLinks{
    <link rel="stylesheet" href="~/css/registroequipo.css" asp-append-version="true" />
}

@section ZonaLogueo{
    <div class="user-section">
        <p>@Context.User.Identity.Name</p>
        <a asp-controller="Usuarios" asp-action="CerrarSesion">Cerrar sesion</a>
    </div>
}

@section Scripts{
    <script src="~/js/registroequipo.js" asp-append-version="true"></script>
    <script>
        function Prueba() {

            var formData = {
              nombre: "asd",
              imagen: "asd"
            };

            $.ajax({
              type: "POST",
              url: "https://107.21.53.199/api/Equipos",
              data: formData,
              headers: {
                  "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVc2VyRGF0YSI6IntcIklkVXN1YXJpb1wiOjEsXCJOb21icmVcIjpcIkZFUlwiLFwiQ29ycmVvXCI6XCJGRVJARkVSLkVTXCIsXCJDb250cmFzZW5pYVwiOlwiYXNkYXNkYXNkXCIsXCJUZWxlZm9ub1wiOjY0MzY0MzY0MyxcIlRva2VuXCI6XCJTSU4gVE9LRU5cIn0iLCJuYmYiOjE2ODU2MTkxMTQsImV4cCI6MTY4NTYyOTkxNCwiaXNzIjoiaHR0cHM6Ly9sb2NhbGhvc3Q6NzA2Mi8iLCJhdWQiOiJBcGlPQXV0aEYyRyJ9.NAtaPWu45rtFzkNGnl27HPiuHM5XF8npd4p8iV8X6MU";
              },
              dataType: "json",
              encode: true,
            }).done(function (data) {
              console.log(data);
            });
        }
    </script>
}

    <form method="post" enctype="multipart/form-data">
        <div class="form-new-team">
            <div class="input-zone">
                <label>NOMBRE DE EQUIPO</label>
                <input type="text" name="nombre" required />
            </div>
            <div class="input-zone">
                <label>
                    SELECCIONAR IMAGEN
                    <input id="inputimagen" type="file" name="imagen" onchange="muestraArchivoSubido()" required />
                </label>
            </div>
        </div>
        <div class="check-zone">
            @if (ViewData["ERROR"] != null)
        {
            <p id="image-info" style="color: red">@ViewData["ERROR"]</p>
        }
        else
        {
                //INTENTAR PONER RECOMENDACION AQUI
            @*<p style="color: yellowgreen">Recomendamos subir logos de imagen con formato .png transparente y de mismo ancho y altura para una mayor experiencia visual</p>*@
            <p id="image-info">Para registrar el equipo, selecciona una imagen (Solo formato .png)</p>
        }
    </div>
    <button type="submit">CREAR EQUIPO</button>
    <button class="back-button" type="button" onclick="vuelveInicio()">VOLVER</button>
</form>
<button onclick="Prueba()">CREAR EQUIPO</button>

