@section Scripts{
    <script src="~/js/sweetalert2.js" asp-append-version="true"></script>
    <script src="~/js/listanotas.js" asp-append-version="true"></script>
}

@section CSSLinks {
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/listaNotas.css" asp-append-version="true" />
}

@{
    List<Nota> notas = ViewData["NOTAS"] as List<Nota>;
}

<h1>Notas</h1>

<div class="view-sessions-zone">
    <div class="team-title">
        <p>Notas de Equipo: </p>
    </div>
    <div class="sessions-site">

        @if (ViewData["NOTAS"] as List<Nota> != null)
        {
            @foreach (Nota nota in ViewData["NOTAS"] as List<Nota>)
            {
                <div class="session-name" onclick="muestraOpciones(@nota.Id)">
                    <span>@nota.titulo</span>
                </div>
                <div class="session-options" id="sessionopt-@nota.Id">
                    <p id="cuerpoNota">@nota.cuerpo</p>
                </div>
            }
        }
        else
        {
            <p>SIN NOTAS</p>
        }

    </div>
    <div class="border-sessions"></div>
    <div class="button-zone">
        <button onclick="vuelveInicio()" class="back-button">VOLVER</button>
        <button onclick="listaNotas()" class="new-session">GUARDAR NOTA</button>
    </div>
</div>

<form id='form-new-nota' method="post">
    <input type="hidden" id="titulo" name="titulo">
    <input type="hidden" id="cuerpo" name="cuerpo">
</form>


