@section Scripts{
    <script src="~/js/sweetalert2.js" asp-append-version="true"></script>
    <script src="~/js/listanotas.js" asp-append-version="true"></script>
}

@section CSSLinks {
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/listaNotas.css" asp-append-version="true" />
}

@section ZonaLogueo{
    <div class="user-section">
        <p>@Context.User.Identity.Name</p>
        <a asp-controller="Usuarios" asp-action="CerrarSesion">Cerrar sesion</a>
    </div>
}

@{
    List<Nota> notas;

    if (ViewData["NOTAS"] != null)
    {
        notas = ViewData["NOTAS"] as List<Nota>;
    }
    else
    {
        notas = null;
    }
}

<div class="view-notes-zone">
    <div class="notes-title">
        <p>NOTAS DE ENTRENADOR</p>
    </div>
    <div class="notes-site">

        @if (notas != null && notas.Count > 0)
        {
            @foreach (Nota nota in notas)
            {
                <div class="note-name" onclick="muestraOpciones(@nota.Id)">
                    <span>@nota.titulo</span>
                </div>
                <div class="note-options" id="sessionopt-@nota.Id">
                    <p id="cuerpoNota">@nota.cuerpo</p>
                </div>
            }
        }
        else
        {
            <p class="no-notes">SIN NOTAS</p>
        }

    </div>
    <div class="border-notes"></div>
    <div class="button-zone">
        <button onclick="vuelveInicio()" class="back-button">VOLVER</button>
        <button onclick="listaNotas()" class="new-note">GUARDAR NOTA</button>
    </div>
</div>

<form id='form-new-nota' method="post">
    <input type="hidden" id="titulo" name="titulo">
    <input type="hidden" id="cuerpo" name="cuerpo">
</form>


