﻿.view-notes-zone {
    width: 80%;
    margin: 20px 10% 20px 10%;
}

.view-notes-zone .notes-title {
    background: linear-gradient(0deg, rgba(74,44,2,1) 0%, rgba(210,122,0,1) 92%);
    padding: 20px 0px 20px 0px;
    border: 1px solid white;
    margin-top: 30px;
}

.view-notes-zone .notes-title p {
    text-align: center;
    font-size: 27px;
}

.view-notes-zone .notes-site {
    background-color: white;
    height: 300px;
    overflow-y: scroll;
}

.view-notes-zone .notes-site p {
    margin-top: 95px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 70px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.view-notes-zone .notes-site .note-name {
    background: linear-gradient(0deg, rgba(232,135,2,1) 0%, rgba(255,193,107,1) 92%);
    color: #774500;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    transition: opacity linear 0.2s;
    cursor: pointer;
    border: 1px solid white;
}

.view-notes-zone .notes-site .note-name:hover {
    opacity: 0.8
}

.view-notes-zone .notes-site .note-options {
    background-color: #ffce89;
    border-right: 1px solid white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid white;
    display: none;
    font-size: small;
}

.view-notes-zone .notes-site .note-options button {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid white;
    width: 39%;
    margin: 0px 5% 0px 5%;
    transition: background-color linear 0.15s;
    cursor: pointer;
}

.view-notes-zone .notes-site .note-options button:hover {
    background-color: #6B54B4;
}

.view-notes-zone .notes-site .note-options button.finishbutton {
    width: 50%;
    margin: 0px 25% 0px 25%;
}

.view-notes-zone .border-notes {
    background: linear-gradient(0deg, rgba(74,44,2,1) 0%, rgba(210,122,0,1) 92%);
    border: 1px solid white;
    padding: 30px 0px 30px 0px;
}

.view-notes-zone .button-zone {
    display: flex;
}

.view-notes-zone .button-zone button.back-button, .view-notes-zone .button-zone button.new-note {
    width: 40%;
    margin: 50px 5% 10px 5%;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 100px;
    padding: 15px;
    color: white;
    background-color: #b56a00;
    transition: background-color 0.5s;
    cursor: pointer;
}

.view-notes-zone .button-zone button.back-button:hover, .view-notes-zone .button-zone button.new-note:hover {
    color: #774500;
    background-color: #ffce89;
}

#cuerpoNota {
    font-size: small;
    text-align: left;
}

.swal2-popup {
    border: 1px solid #ffce89 !important;
}

.swal2-container {
    height: 810px !important;
}

.swal2-popup {
    color: darkorange !important;
}

.swal2-confirm {
    background-color: darkorange !important;
}

.swal2-confirm:hover {
    border: 1px solid orange !important;
}

@media (max-width: 940px) {
    .view-notes-zone .notes-site p {
        font-size: 55px;
    }

    .view-notes-zone .button-zone button.back-button, .view-notes-zone .button-zone button.new-note {
        font-size: 16px;
    }

    .view-notes-zone .notes-title p {
        font-size: 22px;
    }

}

@media (max-width: 710px) {

    .swal2-container {
        height: 870px !important;
    }

    .swal2-popup {
        width: 90% !important;
    }

    .view-notes-zone .notes-site p {
        font-size: 36px;
    }

    .view-notes-zone .notes-title p {
        font-size: 17px;
    }

    .view-notes-zone .border-notes {
        padding: 20px 0px 20px 0px;
    }

    .view-notes-zone .button-zone {
        display: block;
        margin-top: 10px;
    }

    .view-notes-zone .button-zone button.back-button, .view-notes-zone .button-zone button.new-note {
        width: 90%;
        margin: 10px 5% 10px 5%;
        border: 1px solid black;
        font-size: 19px;
        border-radius: 100px;
        padding: 15px;
        transition: background-color 0.5s;
        cursor: pointer;
    }

    .view-notes-zone .button-zone button.back-button, .view-notes-zone .button-zone button.new-note {
        font-size: 20px;
    }

}

@media (max-width: 600px) {

    .view-notes-zone .notes-site .note-name {
        font-size: 12px;
    }

    .view-notes-zone .notes-site .note-options {
        padding: 8px 0px 8px 0px;
    }

    .view-notes-zone .notes-site .note-options button {
        font-size: 10px;
    }

}
